MODEL_NAME="your_model_name_here"  # e.g., "gpt-3.5-turbo"
BASE_URL="your_base_url_here"  # e.g., "https://api.openai.com/v1/chat/completions"
LLM_API_KEY="your_llm_api_key_here"  # e.g., "sk-..."
LLM_API_KEY_2="your_second_llm_api_key_here"  # Optional, if using a second LLM
MAX_TOKENS="your_max_tokens_here"  # e.g., "1000"
TEMPERATURE="your_temperature_here"  # e.g., "0.7"


# RAG_BASE_URL=
SERPAPI_API_KEY="your_serpapi_api_key_here"  # e.g., "your_serpapi_api_key"
MAPS_API_KEY= "YOUR_GOOGLE_MAPS_API_KEY_HERE"
